.CreateTodoButton {
    background-color: #2195b6a0;
    box-shadow: 0px 5px 25px rgba(5, 66, 82, 0.878);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    margin: 1rem 1rem;
    transform: rotate(0);
    transition: .5s ease;
  }
  
  .CreateTodoButton:hover {
    transform: rotate(350deg);
    box-shadow: 0px 5px 25px rgba(255, 255, 255, 0);
  }

  .CreateTodoButton-in{
    color: #589c10ed;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -50% 0 0 -25%;
  }