.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    color: black;
    border-radius: 50px;
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration:line-through;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: #4caf50;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
  }
  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    top: 0px;
    right: 0;
  }
  .Icon-delete:hover {
    color: red;
  }

  .span-icon-close{
    color: rgba(117, 7, 7, 0.821);
    position: absolute;
    font-size: 2rem;
    right: 10px;
    top: 15px;
  }
  .span-icon-close:hover{
    color: rgba(220, 26, 26, 0.821);
    position: absolute;
    font-size: 2.3rem;
    right: 7px;
    top: 12px;
    transition: 125ms;
  }
  .span-icon-done{
    color: rgba(16, 164, 2, 0.75);
    font-size: 1.3rem;
    transition: 125ms;
  }

  .span-icon-uncompleted{
    color: rgba(164, 165, 165, 0.70);
    font-size: 1.3rem;
  }
  .span-icon-uncompleted:hover{
    color: rgba(54, 56, 56, 0.791);
    font-size: 1.5rem;
    transition: 125ms;
  }